{% extends "base.html" %}

{% block "title" %}{% endblock %}

{% block "content" %}
  <div class="container justify-content-center">
  <p class="text-center"> El. paštu išsiuntėme instrukcijas, kaip atstatyti slaptažodį. Netrukus turėtumėte jas gauti.

Jei negaunate el. laiško, įsitikinkite, kad įvedėte adresą, kuriuo užsiregistravote ir patikrinkite "Spam" aplanką.
  </p>
    <p class="text-center">
    </p>

<!--  <p><a href="{% url 'login' %}">prisijungti iš naujo</a></p>-->
</div>

{% endblock %}



